{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 130,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/composables/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",
    "^@/plugins/(.*)$",
    "^@/store/(.*)$",
    "^@/types/(.*)$",
    "^@/middleware/(.*)$",
    "^@/utils/(.*)$",
    "^@/config$",
    "^@/static/(.*)$",
    "^@/content/(.*)$",
    "^./index$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
